- name: P4
  hosts: all
  become: yes
  tasks:
  - name: Set grub timeout to {{ timeout }} seconds
    ansible.builtin.lineinfile:
      path: /etc/default/grub
      regexp: '^GRUB_TIMEOUT='
      line: 'GRUB_TIMEOUT={{ timeout }}'
    notify: Update grub

  - name: Set timeout Style to visible
    ansible.builtin.lineinfile:
      path: /etc/default/grub
      regexp: '^GRUB_TIMEOUT_STYLE='
      line: 'GRUB_TIMEOUT_STYLE=menu'
    notify: Update grub

  - name: Add ubuntu desktop entry
    ansible.builtin.blockinfile:
      path: /etc/grub.d/40_custom
      block: |
        menuentry 'Ubuntu desktop' {
            set root='hd1,gpt2'
            linux   /boot/vmlinuz-6.11.0-17-generic root=UUID={{ UUID }} ro quiet splash $vt_handoff
            initrd  /boot/initrd.img-6.11.0-17-generic
        }
    notify: Update grub

  - name: Add ubuntu with bootstrap.sh entry
    ansible.builtin.blockinfile:
      path: /etc/grub.d/40_custom
      block: |
        menuentry 'Ubuntu sh' {
          set root='hd0,gpt2'
          linux   /vmlinuz-5.15.0-116-generic root=/dev/mapper/ubuntu--vg-ubuntu--lv init={{bootstrap_path}} ro net.ifnames=0 biosdevname=0  
          initrd  /initrd.img-5.15.0-116-generic
        }
      marker: "# {mark} sh ANSIBLE MANAGED BLOCK"
    notify: Update grub

  - name: Copy bootstrap.sh
    ansible.builtin.copy:
      src: ./{{ bootstrap_file }}
      dest: "{{ bootstrap_path }}"
      mode: '0700'

  - name: Set background img grub
    ansible.builtin.lineinfile:
      path: /etc/default/grub
      regexp: '^GRUB_BACKGROUND='
      line: 'GRUB_BACKGROUND="{{background_path}}"'
    notify: Update grub

  - name: Get background img
    ansible.builtin.copy:
      src: "./{{ background_name }}"
      dest: "{{ background_path }}"
      mode: '0755'
    notify: Update grub

  - name: Set grub font
    ansible.builtin.lineinfile:
      path: /etc/default/grub
      regexp: '^GRUB_FONT='
      line: 'GRUB_FONT="{{ grub_dir }}font.pf2"'
    notify: Update grub

  - name: Get grub font
    ansible.builtin.copy:
      src: ./{{ font_name }}
      dest: "{{ font_path }}"
      mode: '0755'
    notify: Convert font to pf2
    
  handlers:
  - name: Convert font to pf2
    ansible.builtin.command: "grub-mkfont {{ font_path }} -o {{ grub_dir }}font.pf2 -s 12"
    notify: Update grub
  - name: Update grub
    ansible.builtin.command: update-grub

  vars:
    timeout: 5
    UUID: ac05b3f8-596f-4299-979b-cc9d3a8471c3
    bootstrap_file: bootstrap.sh
    background_name: background.jpg
    font_name: font.ttf
    grub_dir: /boot/grub/
    bootstrap_path: "{{grub_dir}}{{ bootstrap_file }}"
    background_path: "{{grub_dir}}{{ background_name }}"
    font_path: "~/{{ font_name }}"
